/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS styles for the logo image */
img.logo {
  width: 300px; /* Adjust the width as desired */
  height: auto; /* Automatically adjust the height while maintaining the aspect ratio */
  float: left;
}

/* Default styles */
body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Styles for larger screens */
@media only screen and (min-width: 768px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }
}

/* Styles for smaller screens */
@media only screen and (max-width: 767px) {
  body {
    padding: 10px;
  }
}

header {
  background-color: #127aae; /* Replace with your desired background color */
  color: #dac3c3;
  padding: 80px;
  text-align: center;
  width: 100%; /* Increase the width to occupy the entire available space */
}

nav {
  background-color: #113c92;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #d5c7c7;
  text-decoration: none;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
  text-align: center;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Additional styles for the individual items in the About section */

.about-item {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-item h3 {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.about-item p {
  color: #666;
}

.about-item-1 {
  background-color: #FADBD8;
}

.about-item-2 {
  background-color: #D4E6F1;
}

.about-item-3 {
  background-color: #F9E79F;
}

.about-item-4 {
  background-color: #D2B4DE;
}

.about-item-5 {
  background-color: #A9DFBF;
}

.about-item-6 {
  background-color: #FDEDEC;
}

.about-item-7 {
  background-color: #EBF5FB;
}


/* contaact form */

.contact-form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* footer */